
.table-container {
  overflow-x: auto;
}

.mis-libros-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mis-libros-table th,
.mis-libros-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-weight: bold; /* Esto ya establece el texto en negrita */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}


.libro-foto {
  max-width: 80px;
  height: auto;
}


.mis-libros-table a {
  text-decoration: none;
  margin-right: 10px;
  color: #007bff;
}

.mis-libros-table a:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .mis-libros-table {
    font-size: 14px; 
    color: black;
  }

  .mis-libros-table th,
  .mis-libros-table td {
    padding: 8px; 
    color: black;
  }

}
