@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 18rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  height: 55%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 1rem;
  text-align: left;
  color: white;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.card-text {
  margin-bottom: 0.5rem;
  color: white;
}

.error-container {
  background-color: #233061;
  text-align: center;
}

.error-message {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}