USE [master]
GO
/****** Object:  Database [Proyecto final]    Script Date: 30/10/2023 11:58:17 ******/
CREATE DATABASE [Proyecto final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Proyecto final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proyecto final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Proyecto final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto final]
GO
/****** Object:  User [PF]    Script Date: 30/10/2023 11:58:18 ******/
CREATE USER [PF] FOR LOGIN [PF] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 30/10/2023 11:58:18 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PF]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 30/10/2023 11:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[foto] [varchar](max) NOT NULL,
	[titulo] [varchar](max) NOT NULL,
	[condicion] [bit] NOT NULL,
	[buscoOVendo] [bit] NOT NULL,
	[autor] [varchar](max) NOT NULL,
	[materia] [varchar](max) NOT NULL,
	[precio] [float] NOT NULL,
	[editorial] [varchar](max) NOT NULL,
	[descripcion] [varchar](max) NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Libros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/10/2023 11:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[mail] [varchar](max) NOT NULL,
	[nombre] [varchar](max) NOT NULL,
	[apellido] [varchar](max) NOT NULL,
	[sede] [varchar](max) NOT NULL,
	[foto] [varchar](max) NOT NULL,
	[contraseña] [text] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([Id], [foto], [titulo], [condicion], [buscoOVendo], [autor], [materia], [precio], [editorial], [descripcion], [IdUsuario]) VALUES (2, N'https://http2.mlstatic.com/D_NQ_NP_723988-MLA46203165290_052021-V.jpg', N'Gold Experience B2', 0, 1, N'Megan Roderick', N'Ingles', 3000, N'Pearson', N'Gold Experience 2nd Edition is an engaging, media-rich course for teenage students which prepares them for Cambridge (for schools) exams while motivating students to build the language and skills they need in class and in the world beyond schools.', 3)
INSERT [dbo].[Libros] ([Id], [foto], [titulo], [condicion], [buscoOVendo], [autor], [materia], [precio], [editorial], [descripcion], [IdUsuario]) VALUES (4, N'https://http2.mlstatic.com/D_NQ_NP_912612-MLA26544630395_122017-O.jpg', N'Matematica 5 conocer', 0, 1, N'Claudia A. David', N'Matematica', 800, N'Santillana', N'Es un libro en el cual podran resolver operaciones matematicas de alto nivel', 5)
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [mail], [nombre], [apellido], [sede], [foto], [contraseña]) VALUES (5, N'pablodagosto@yahoo.com', N'Pablo', N'Dagosto', N'Yatay', N'https://vivolabs.es/wp-content/uploads/2022/03/perfil-hombre-vivo.png', N'fod09')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD  CONSTRAINT [FK_Libros_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Libros] CHECK CONSTRAINT [FK_Libros_Usuario]
GO
USE [master]
GO
